@model IEnumerable<Dominio.Entidades.Planta>
@using Dominio.Entidades

@{
    ViewData["Title"] = "BuscarPorTipo";
}

<h1>Busca por tipo</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="BuscarPorTipo">
            <div class="form-group">
                <label class="control-label">Tipo:</label>
                <select name="IdTipoSeleccionado">
                    @if (ViewBag.Tipos != null)
                        @foreach (var tipo in ViewBag.Tipos)
                        {
                            <option value="@tipo.IdTipo">@tipo.Nombre</option>
                        }
                    }
                </select>
                <div class="form-group">
                    <input type="submit" value="Buscar" class="btn btn-primary" />
                </div>
            </div>
        </form>
    </div>

    @if (ViewBag.Plantas != null)
    {


        <table class="table">
            <thead>
                <tr>
                    <th>
                        Nombre Científico
                    </th>
                    <th>
                        Tipo de Planta
                    </th>
                    <th>
                        Descripción
                    </th>
                    <th>
                        Altura Máxima
                    </th>
                    <th>
                        Frecuencia de Riego
                    </th>
                    <th>
                        Temp. De Mantenimiento
                    </th>
                    <th>
                        Tipo de Iluminación
                    </th>
                    <th>
                        Tipo de Ambiente
                    </th>
                    <th>
                        Nombres Vulgares
                    </th>
                    <th>
                        Foto
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in ViewBag.Plantas)
                {
                    <tr>
                        <td>
                            @item.NombreCientifico
                        </td>
                        <td>
                            @item.TipoPlanta.Nombre
                        </td>
                        <td>
                            @item.Descripcion
                        </td>
                        <td>
                            @item.AlturaMaxima
                        </td>
                        <td>
                            @item.FrecuenciaRiego
                        </td>
                        <td>
                            @item.TemperaturaMantenimiento
                        </td>
                        <td>
                            @item.TipoIluminacion.Tipo
                        </td>
                        <td>
                            @item.Ambiente.TipoAmbiente
                        </td>
                        <td>
                            @foreach (var nombre in @item.NombreVulgar)
                            {
                                @nombre;
                            }
                        </td>
                        <td>
                            <img src="~/imagenes/@item.Foto" height="60" />
                        </td>
                        <td>
                            @Html.ActionLink("Cuidados", "Cuidados", new { id = item.IdPlanta })
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    }

    <span class="text-danger">@ViewBag.Resultado</span>



</div>