@model IEnumerable<Dominio.Entidades.Planta>
@using Dominio.Entidades

@{
    ViewData["Title"] = "BuscarPorAmbiente";
}

<h1>Buscar por ambiente</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="BuscarPorAmbiente">
            <div class="form-group">
                <label class="control-label">Ambiente:</label>
                <select name="IdAmbienteSeleccionado">
                    @if (ViewBag.Ambientes != null)
                        @foreach (var ambientes in ViewBag.Ambientes)
                        {
                            <option value="@ambientes.IdAmbiente">@ambientes.TipoAmbiente</option>
                        }
                    }
                </select>
                <div class="form-group">
                    <input type="submit" value="Buscar" class="btn btn-primary" />
                </div>
            </div>
        </form>
    </div>

    @if (ViewBag.Plantas != null)
    {


        <table class="table">
            <thead>
                <tr>
                    <th>
                        Nombre Científico
                    </th>
                    <th>
                        Tipo de Planta
                    </th>
                    <th>
                        Descripción
                    </th>
                    <th>
                        Altura Máxima
                    </th>
                    <th>
                        Frecuencia de Riego
                    </th>
                    <th>
                        Temp. De Mantenimiento
                    </th>
                    <th>
                        Tipo de Iluminación
                    </th>
                    <th>
                        Tipo de Ambiente
                    </th>
                    <th>
                        Nombres Vulgares
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in ViewBag.Plantas)
                {
                    <tr>
                        <td>
                            @item.NombreCientifico
                        </td>
                        <td>
                            @item.TipoPlanta.Nombre
                        </td>
                        <td>
                            @item.Descripcion
                        </td>
                        <td>
                            @item.AlturaMaxima
                        </td>
                        <td>
                            @item.FrecuenciaRiego
                        </td>
                        <td>
                            @item.TemperaturaMantenimiento
                        </td>
                        <td>
                            @item.TipoIluminacion.Tipo
                        </td>
                        <td>
                            @item.Ambiente.TipoAmbiente
                        </td>
                        <td>
                            @item.NombreVulgar
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    }

    <span class="text-danger">@ViewBag.Resultado</span>



</div>