@model ObligatorioP3.Models.ViewModelPlanta
@using Dominio.Entidades

@{
    ViewData["Title"] = "Create";
}

<h1>Dar de alta nueva Planta</h1>

<h4>Datos:</h4>
<hr />
<div class="row">
    <div class="col-md-4">

        <form enctype="multipart/form-data" asp-action="Create" id="formAltaPlanta">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Planta.NombreCientifico" class="control-label">Nombre Científico</label>
                <input id="NombreCientifico" asp-for="Planta.NombreCientifico" value="Planta De Prueba" class="form-control" />
                <span asp-validation-for="Planta.NombreCientifico" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Planta.NombreVulgar" class="control-label">NombreVulgar</label>
                <input id="NombreVulgar" asp-for="Planta.NombreVulgar" value="Plantita Test" class="form-control" />
                <span asp-validation-for="Planta.NombreVulgar" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Planta.Descripcion" class="control-label">Descripción</label>
                <input id="Descripcion" asp-for="Planta.Descripcion" value="Descripción Prueba Unique Nombre Científico" class="form-control" />
                <span asp-validation-for="Planta.Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Planta.AlturaMaxima" class="control-label">Altura Máxima</label>
                <input id="AlturaMaxima" type="number" asp-for="Planta.AlturaMaxima" value="150" class="form-control" />
                <span asp-validation-for="Planta.AlturaMaxima" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Planta.FrecuenciaRiego" class="control-label">Frecuencia de riego (unidad)</label>
                <input id="FrecuenciaRiego" type="number" asp-for="Planta.FrecuenciaRiego" value="2 días" class="form-control" />
                <span asp-validation-for="Planta.FrecuenciaRiego" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Frecuencia de riego (tiempo)</label>
                <select id="RiegoUnidad" name="RiegoUnidad">
                    <option value="0" disabled selected>Seleccione Frecuencia</option>
                    <option value="1">Hora/s</option>
                    <option value="2">Día/s</option>
                    <option value="3">Semana/s</option>
                    <option value="4">Mes/es</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Planta.TemperaturaMantenimiento" class="control-label">Temperatura de Mantenimiento</label>
                <input id="TemperaturaMantenimiento" type="number" asp-for="Planta.TemperaturaMantenimiento" value="14" class="form-control" />
                <span asp-validation-for="Planta.TemperaturaMantenimiento" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Imagen" class="control-label"></label>
                <input id="txtImagen" asp-for="Imagen" class="form-control" />
            </div>

            <div class="form-group">
                <label class="control-label">Tipo:</label>
                <select id="selTipoPlanta" name="IdTipoSeleccionado">
                    <option value="0" disabled selected>Seleccione Tipo</option>
                    @foreach (Tipo t in Model.Tipos)
                    {
                        <option value="@t.IdTipo">@t.Nombre</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label class="control-label">Ambiente:</label>
                <select id="selAmbiente" name="IdAmbienteSeleccionado">
                    <option value="0" disabled selected>Seleccione Ambiente</option>
                    @foreach (Ambiente am in Model.Ambientes)
                    {
                        <option value="@am.IdAmbiente">@am.TipoAmbiente</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label class="control-label">Iluminación:</label>
                <select id="selIluminacion" name="IdIluminacionSeleccionada">
                    <option value="0" disabled selected>Seleccione Iluminación</option>
                    @foreach (Iluminacion il in Model.Iluminaciones)
                    {
                        <option value="@il.IdIluminacion">@il.Tipo</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Dar de alta" class="btn btn-primary" />
            </div>
        </form>
        <div class="form-group">
            <span class="text-danger" id="pMensaje">@ViewBag.Resultado</span>
        </div>
    </div>
</div>

<div>
    <a asp-action="Index">Ir a listado de plantas</a>
</div>



@section Scripts{


    <script>
        document.querySelector("#formAltaPlanta").addEventListener('submit', validarDatos);


        function validarDatos(evento) {
            evento.preventDefault();

            let NomCientifico = document.querySelector("#NombreCientifico").value;
            let NomVulgar = document.querySelector("#NombreVulgar").value;
            let descripcion = document.querySelector("#Descripcion").value;
            let altura = document.querySelector("#AlturaMaxima").value;
            let frecuenciaRiego = document.querySelector("#FrecuenciaRiego").value;
            let unidadRiego = document.querySelector("#RiegoUnidad").value;
            let tempMantenimiento = document.querySelector("#TemperaturaMantenimiento").value;
            let Imagen = document.querySelector("#txtImagen").value;
            let tipoPlanta = document.querySelector("#selTipoPlanta").value;
            let ambiente = document.querySelector("#selAmbiente").value;
            let iluminacion = document.querySelector("#selIluminacion").value;






            if (validarTexto(NomCientifico)) {


                if (validarTexto(NomVulgar) && descripcion.trim().length <= 700) {

                    if (validarTexto(descripcion) && descripcion.trim().length >= 10 && descripcion.trim().length <= 500) {

                        if (validarNumero(altura)) {

                            if (validarNumero(frecuenciaRiego)) {
                                let numunidadRiego = Number(unidadRiego);
                                if (numunidadRiego !== 0) {

                                    if (validarNumero(tempMantenimiento)) {

                                        if (Imagen !== "" && validarFoto(Imagen)) {
                                            let numTipoPlanta = Number(tipoPlanta);
                                            if (numTipoPlanta !== 0) {
                                                let numAmbiente = Number(ambiente);
                                                if (numAmbiente !== 0) {
                                                    let numIluminacion = Number(iluminacion);
                                                    if (numIluminacion !== 0) {

                                                        document.querySelector("#FrecuenciaRiego").removeAttribute("type");
                                                        document.querySelector("#FrecuenciaRiego").value = frecuenciaRiego + " " + switchFrecuencias(unidadRiego);
                                                        this.submit();
                                                    }
                                                    else {
                                                        document.querySelector("#pMensaje").innerHTML = "Errores en el formulario. Verifique iluminacion.";
                                                    }
                                                }
                                                else {
                                                    document.querySelector("#pMensaje").innerHTML = "Errores en el formulario. Verifique ambiente.";
                                                }
                                            }
                                            else {
                                                document.querySelector("#pMensaje").innerHTML = "Errores en el formulario. Verifique tipo planta.";
                                            }
                                        }
                                        else {
                                            document.querySelector("#pMensaje").innerHTML = "Errores en el formulario. Solo se aceptan Archivos .jpg o .png.";
                                        }
                                    }
                                    else {
                                        document.querySelector("#pMensaje").innerHTML = "Errores en el formulario. Verifique temperatura.";
                                    }
                                }

                                else {
                                    document.querySelector("#pMensaje").innerHTML = "Errores en el formulario. Verifique frecuencia riego (tiempo).";
                                }
                            }
                            else {
                                document.querySelector("#pMensaje").innerHTML = "Errores en el formulario. Verifique frecuencia riego (unidad).";
                            }
                        }
                        else {
                            document.querySelector("#pMensaje").innerHTML = "Errores en el formulario. Verifique altura.";
                        }
                    }
                    else {
                        document.querySelector("#pMensaje").innerHTML = "Errores en el formulario. Verifique descripcion.";
                    }
                }
                else {
                    document.querySelector("#pMensaje").innerHTML = "Errores en el formulario. Verifique nombre vulgar.";
                }
            }
            else {
                document.querySelector("#pMensaje").innerHTML = "Errores en el formulario. Verifique nombre cientifico.";
            }
        }

        function validarFoto(value) {
            ret = false;

            if (value.includes("jpg", value.length - 3) || value.includes("png", value.length - 3)) {
                ret = true;
            }
            return ret;
        }

        function validarNumero(value) {
            ret = false;
            if (!isNaN(value) && value.trim().length > 0 && value !== "" && value > 0) {
                ret = true;
            }
            return ret;
        }

        function validarTexto(value) {
            ret = false;
            if (value != null && isNaN(value) && value.trim().length > 0) {
                ret = true;
            }
            return ret;
        }

        function switchFrecuencias(valor) {
            let mensaje = "";
            switch (valor) {
                case "1": {
                    mensaje = "Hora/s";
                    break;
                }
                case "2": {
                    mensaje = "Día/s";
                    break;
                }
                case "3": {
                    mensaje = "Semana/s";
                    break;
                }
                case "4": {
                    mensaje = "Mes/es";
                    break;
                }
                default: {
                    mensaje = "Seleccione un tiempo de frecuencia";
                }

            }
            return mensaje;
        }

    </script>
}
