@model IEnumerable<Dominio.Entidades.Planta>

@{
    ViewData["Title"] = "Index";
}

<h1>Listado de Plantas</h1>

<p>
    <a asp-action="Create">Agregar nueva Planta</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Nombre Científico
            </th>
            <th>
                Tipo de Planta
            </th>
            <th>
                Descripción
            </th>
            <th>
                Altura Máxima(cm)
            </th>
            <th>
                Ambiente
            </th>
            <th>
                Nombre Vulgar
            </th>
            <th>
                Foto
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            @if (Model.Count() > 0)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.NombreCientifico)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TipoPlanta.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Descripcion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AlturaMaxima)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Ambiente.TipoAmbiente)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NombreVulgar)
                    </td>
                    <td>
                        <img src="~/imagenes/@item.Foto" height="60" />
                    </td>
                    <td>
                        @Html.ActionLink("Cuidados", "Cuidados", new { id = item.IdPlanta })
                    </td>
                </tr>
            }
        }
        </tbody>
</table>
